[submodule "lib/whisper.cpp"]
	path = lib/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "lib/llama.cpp"]
	path = lib/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
